/* --------------------------------- */
    /* CSS template for paged windmill*/
    /* --------------------------------- */
    
    /* -------------------- CSS variables ---------------------- */
    :root {
        --background: whitesmoke;
        --pagedjs-width: 210mm;
        --pagedjs-height: 297mm;
        --color-paper: whitesmoke;
        --color-mbox: rgba(0, 0, 0, 0.2);
        --running-title-width: 2.5in;
        --screen-pages-spacing: 2.5mm;
        --main-color: #00544F;
            --main-font: "Source Sans Pro";
        --header-font: "Source Sans Pro";
    }

/* ---------------------- For debugging -------------------- */
    /* two pages in a row if possible on screen */
    @media screen {
        body {
            background-color: var(--background);
            margin: var(--screen-pages-spacing) auto 0 auto;
        }
        .pagedjs_pages {
            display: flex;
            max-width: calc(var(--pagedjs-width) * 2);
            flex: 0;
            flex-wrap: wrap;
            margin: 0 auto;
        }
        .pagedjs_page {
            background-color: var(--color-paper);
            box-shadow: 0 0 0 1px var(--color-mbox);
            flex-shrink: 0;
            flex-grow: 0;
            margin: auto auto var(--screen-pages-spacing) auto;
        }
    }

/* when a row can hold two pages, start first page on the right */
    @media screen and (min-width: 12.32in) {
        .pagedjs_page {
            margin: auto 0 var(--screen-pages-spacing) 0;
        }
        .pagedjs_first_page {
            margin-left: var(--pagedjs-width);
        }
    }

/* ------------------------ Pages -------------------------- */
    /* page size */
    @page {
        size: 210mm 297mm; /* var(--pagedjs-width) doesn't work in browser when printing */
  }


/* string variables */
h1.title {
  string-set: h1-title content(text);
}

.shorttitle1 {
  string-set: h1-text content(text);
}

/* normal page */
@page {

  @top-left-corner {
    content: "";
    margin-bottom: 0.25cm;
  }

  @top-left {
    content: string(h1-title);
    font-family: "Source Sans Pro";
    font-weight: 800;
    color: #383838;
    border-bottom: 3px solid #8497B0;
    margin-bottom: 0.25cm;
    font-size: 12px
  }

@top-center {
    content: "Italian Electricity Market";
    font-family: "Source Sans Pro";
    font-weight: 800;
    color: #383838;
    border-bottom: 3px solid #8497B0;
    margin-bottom: 0.25cm;
    font-size: 14px
}

  @top-right {
    content: string(h1-text);
    font-family: "Source Sans Pro";
    font-weight: 800;
    color: #383838;
    border-bottom: 3px solid #8497B0;
    margin-bottom: 0.25cm;
    font-size: 12px
  }

  @top-right-corner {
    content: "";
    margin-bottom: 0.25cm;
  }

  @bottom-center {
      content: "";
      margin-bottom: 00cm;
      background-image: url(refe_sce_logo.png);
      background-size: 38px;
      background-repeat: no-repeat;
      background-position: center;
   }

}

/* counter */
@page:left {

    /* numbering */
    @bottom-left {
      content: counter(page);
	  font-family: var(--main-font);
	  font-weight: 600;
      color: #ffffff;
      border: 0px solid #8497B0;
      background-color: #8497B0;
      margin-left: 15cm;
      margin-right: -3cm;
      padding-left: 1cm;
      padding-right: 3cm;
      margin-bottom: 1cm;
      margin-top: 1cm;
      font-size: 8pt;
    }

  @bottom-center {
      content: "";
      margin-bottom: 0cm;
      background-image: url(refe_sce_logo.png);
      background-size: 38px;
      background-repeat: no-repeat;
      background-position: center;
   }

}

@page:right {

    /* numbering */
    @bottom-left {
      content: counter(page);
	  font-family: var(--main-font);
	  font-weight: 600;
      color: #ffffff;
      border: 0px solid #8497B0;
      background-color: #8497B0;
      margin-right: 15cm;
      margin-left: -3cm;
      padding-right: 1cm;
      padding-left: 3cm;
      margin-bottom: 1cm;
      margin-top: 1cm;
      font-size: 8pt;
    }

  @bottom-center {
      content: "";
      margin-bottom: 0.0cm;
      background-image: url(refe_sce_logo.png);
      background-size: 38px;
      background-repeat: no-repeat;
      background-position: center;
   }

}

/* ------------------------ TOC ---------------------------- */
/* Remove underline from TOC links */
/* TOC, LOT, LOF */
.toc ul, .lot ul, .lof ul {
  list-style: none;
  padding-left: 0;
  overflow-x: clip;
}
.toc li li {
  padding-left: 1em;
}
.toc a, .lot a, .lof a {
  text-decoration: none;
  background: white;
  padding-right: .33em;
}
.toc a::after, .lot a::after, .lof a::after {
  /* content: leader(dotted) target-counter(attr(href), page); */
  content: target-counter(attr(href), page);
  float: right;
  background: white;
}
.toc a.front-matter-ref::after, .lot a.front-matter-ref::after, .lof a.front-matter-ref::after {
  /* content: leader(dotted) target-counter(attr(href), page, lower-roman); */
  content: target-counter(attr(href), page, lower-roman);
}
.toc .leaders::before, .lot .leaders::before, .lof .leaders::before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}

.toc ul li a {
    text-decoration: none;
}

/* Adjust line height in the TOC */
.toc ul li {
    line-height: 1.75; /* Adjust this value as needed */
}

/* Bold font for first level in the TOC */
.toc ul li {
    font-weight: bold;
}

/* Bold font and smaller size for second level in the TOC */
.toc ul li ul li {
    font-weight: bold;
    font-size: 0.9em; /* Adjust this value as needed */
}

/* Italic font and smaller size for third level in the TOC */
.toc ul li ul li ul li {
    font-style: italic;
    font-size: 0.8em; /* Adjust this value as needed */
}

/* Page number style */
.page-number {
    float: right;
    font-weight: normal;
    font-style: normal;
    color: red;
}

ul, a, ol {
  font-family: var(--main-font);
  font-weight: 600;
  color: #3A3A3A
}

p {
  font-size: 9pt;
  font-family: var(--main-font);
  text-align: justify;
  line-height: 1.15em;
  margin-bottom: 1.025em;
  font-weight: 500;
  color: #3A3A3A;
}


/* ------------------------ Style ----------------------------- */
/* colors */

h1.title, h1.subtitle, h2.author, h2.date {
    color: #ffffff;
}

/* headers */
h1.title {
  font-size: 1pt;
  margin-right: 15%;
  font-weight: 300;

}

h1.subtitle {
  margin-right: 15%;
  font-size: 1pt;
  font-weight: 300;

}

h2.author {
  margin-top: 70%;
  font-size: 1pt;
  font-weight: 400;

}

h2.date {
  font-size: 1pt;
  font-weight: 400;

}

/* normal headers */
h1 {
  font-size: 17pt;
  font-weight: 900;
  font-family: var(--header-font);
  border-bottom: 1.25px solid #f7f7f7;
  color: #00544F


}


h2 {
  font-size: 14pt;
  font-weight: 700;
  color: var(--main-color);
  font-family: var(--header-font);

}

h3 {
  font-size: 13pt;
  font-weight: 700;
  color: var(--main-color);
  font-family: var(--header-font);

}

h4, h5 {
  font-size: 12pt;
  font-weight: 600;
  color: #54565B;
  font-family: var(--header-font);

}

/* normal tables */
table {
  font-family: var(--main-font);
  font-size: 9pt;
  font-weight: 400;
  margin: 1em auto;
  border-width: 0px;
  border-color: #DDDDDD;
  border-style: outset;
  border-collapse: collapse;
}
table th {
  font-family: var(--main-font);
  font-size: 9pt;
  font-weight: 400;
  border-width: 0px;
  padding: 10px;
  border-bottom: 0px solid #ddd;
}
table td {
  font-family: var(--main-font);
  font-size: 8pt;
  font-weight: 400;
  border-width: 1px;
  border-style: inset;
  line-height: 10px;
  padding: 10px 5px;
  color: #54565B
}
table, table th, table td {
  border-left-style: none;
  border-right-style: none;
}
table thead {
  font-family: var(--main-font);
  font-size: 10pt;
  background-color: #97BBFF;
  color: #ffffff;
  font-weight: 300;
  border-bottom: 0px solid #ddd;
}

table tr.even {
  font-family: var(--main-font);
  font-size: 9pt;
  font-weight: 400;
  background-color: #f6f6f6;
  color: #54565B
}

tr:hover {background-color: #DCE4F2;}
tr.even:hover {background-color: #DCE4F2;}


pre, code {
  background-color: #f6f6f6;
  color: #333;
  white-space: pre-wrap;    /* Wrap long lines */
  font-family: 'JetBrains Mono', Consolas, monospace;
  font-size: 92.5%;
}


/* code and pre-code */

pre, code {
  background-color: #f6f6f6;
  color: #333;
  white-space: pre-wrap;    /* Wrap long lines */
  font-family: 'JetBrains Mono', Consolas, monospace;
  font-size: 92.5%;
  border: 0px solid #CCCCCC;
  border-radius: 0px;
}



pre {
  margin: 5px 0px 10px 0px;
  padding: 10px;
  overflow-y: auto;
  font-family: 'JetBrains Mono', Consolas, monospace;
  font-size: 92.5%;
  border: 0px solid #CCCCCC;
  border-radius: 0px;
}

pre[class] {
  font-family: 'JetBrains Mono', Consolas, monospace;
  font-size: 92.5%;
  border: 0px solid #CCCCCC;
  border-radius: 0px;
}

pre:not([class]) {
  background-color: #f6f6f6;
  border: 0px solid #CCCCCC;
  border-radius: 0px;
}

code {
  font-family: 'JetBrains Mono', Consolas, monospace;
  font-size: 92.5%;
  border: 0px solid #CCCCCC;
  border-radius: 0px;
}

p > code, li > code {
  padding: 2px 0px;
}

blockquote {
  background-color: #f6f6f6;
  padding: 0.2em 0.5em;
  color: #8596A6;
  font-weight: 300;
  font-size: 12px;
}


/* --------------------- CSS Fragmentation --------------------------- */
/* page breaks; aka CSS fragmentation */
.level1 {
    break-before: page;
  }

  .section > h1, .section > h2, .section > h3, .section > h4, .section > h5, .section > h6 {
    break-after: avoid;
  }
  .footenotes {
    break-before: always;
    break-after: always;
  }
  .figure {
    break-inside: avoid;
  }

  /* do not break captions */
  caption {
    break-inside: avoid;
    break-after: avoid;
  }

  /* misc elements */
  .subtitle span {
    font-size: .9em;
  }
  img {
    max-width: 100%;
  }


/* Callout styles */

.callout-main {
    background-color: #DBE6E0;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.callout-item {
    background-color: #EDF1F5;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.callout-wrap {
    background-color: #FCE9DE;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.callout-left {
    width: 10%;
    text-align: center !important;
    font-size: 10px !important;
    color: #3A3A3A;
    font-weight: bold;
    margin-right: 8px;
}

.callout-right {
    width: 90%;
    font-size: 8px !important;
    padding: 3px;
    margin-right: 12px;
    margin-left: 10px;
}

.callout-center {
    font-size: 9px !important;
    margin: 15px;
    font-weight: bold;
    padding: 4px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
